<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: #172a39;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-basico">
  <div class="container-login">
    <h1 class="container-user"><ion-icon class="logo" name="pizza-outline" style="color: #f0a506;"></ion-icon>  CLIENTES</h1>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="visualizar">
          <ion-label name="eye-outline">Visualizar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="editar">
          <ion-label name="create-outline">Editar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="excluir">
          <ion-label name="trash-bin-outline">Excluir</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>